@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sacramento&display=swap');

body {
    margin: 0;
    text-align: center;

    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 100px;
    text-align: center;

    font-family: "Sacramento", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 100px;

}

h2 {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

p {
    display: block;
    margin-top: 0;
    /* position: relative;
    bottom: 50px; */

}

/* ****************************************** class************************ */

.head {
    background-color: #73a59c;


}

.middle {
    background-color: red;
    width: 200px;
    height: 200px;
}

.bottem {
    background-color: blue;
    width: 200px;
    height: 200px;
}

.pro {
    text-decoration: underline;
}

.image1 {
    width: 20%;
    height: 250px;
    position: absolute;
    top: 240px;
    left: 710px;
}

.image2 {
    width: 20%;
    height: 250px;
    position: absolute;
    top: 250px;
    left: 370px;
}

.image3 {
    padding-bottom: 10px;
}